// Greens
$lgreen: #a3e296;
$green: #57ad45;
$vlgreen: #dfebdc;
// Blues
$pblue: #e1ecf6;
$lblue: #8cc2fa;
$blue: #6a8bad;
// Pink/Salmon
$lpink: #f6dbd9;
$dpink: #ad6661;
$salmon: #faaaa4;
// Grey
$lgrey: #b9bfc4;
$grey: #62656b;
$dgrey: #4d4f53;
// Black and White
$black: #000000;
$white: #fcfcfc;
