@mixin flex($align, $justify, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin fill($color, $text-color) {
  background-color: $color;
  color: $text-color;
}

@mixin nofill($color) {
  background-color: transparent;
  border: solid $color 0.2rem;
  color: $color;
}

@mixin theme($baseColor, $shade, $lightColor, $text-color) {
  background-color: $lightColor;
  color: $text-color;
  .btn-fill {
    @include fill($baseColor, white);
  }
  .btn-nofill {
    @include nofill($baseColor);
  }
}
