@use "utilities";

.btn {
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: 600;
  min-width: 40%;
  margin: 1rem 0.5rem;
}

.delete-btn {
  background-color: transparent;
  border: none;
  height: 100%;
  margin-left: 0.3rem;
  img {
    transform: scale(1.2);
  }
}

.btn-nofill {
  @include utilities.nofill(utilities.$green);
}

.btn-fill {
  @include utilities.fill(utilities.$green, utilities.$white);
}
