@use "./utilities";

.container {
  background-color: utilities.$white;
  border-radius: 1rem;
  padding: 1rem;
}

.main-container {
  @include utilities.flex(center, space-between, column);
  width: 80%;
  height: 80vh;
}

.scroll-container {
  overflow-y: scroll;
  width: 100%;
  @include utilities.flex(center, space-between, column);
}

.add-container {
  display: none;
  position: absolute;
  width: 80%;
  top: 15%;
}

.add-container.active {
  display: flex;
  z-index: 10;
}

.form-container,
.update-form-container {
  width: 100%;
  @include utilities.flex(normal, center, column);
  margin-top: 0.5rem;
}

// Add items container

.inv-item-cont,
.li-item-cont {
  @include utilities.flex(center, center);
  margin-top: 1rem;
}

.inputs {
  width: 30%;
  margin: 0 0.25rem;
  @include utilities.flex(center, center, column);
  input,
  select {
    max-width: 100%;
  }
}

.amt-input {
  width: 15%;
}

.unit-input {
  width: 15%;
}

.btn-container {
  width: 100%;
  @include utilities.flex(center, center);
}

.category-container {
  width: 90%;
  @include utilities.flex(center, center, column);
}

.item-container {
  @include utilities.flex(center, space-between);
  width: 100%;
}

.item-info-cont {
  @include utilities.flex(center, space-between);
  width: 100%;
}

.item-info {
  @include utilities.flex(center, space-between);
  width: 100%;
}

.item-amount-cont {
  @include utilities.flex(center, space-between);
}

.inventory-edit,
list-edit {
  width: 90%;
  @include utilities.flex(center, space-between);
  position: absolute;
  width: 80%;
  top: 40%;
  z-index: 10;
  border: inset 0.1rem transparent;
}

.inventory-edit.closed,
.list-edit.closed {
  display: none;
}

@media (min-width: 900px) {
  .scroll-container {
    overflow-y: auto;
  }
}
