@use "utilities";

.inventory {
  @include utilities.flex(center, center, column);
  padding-top: 10%;
}

.inventory.inactive {
  display: none;
}

@media (min-width: 768px) {
  .inventory {
    padding-top: 5%;
  }
}
