@use "utilities";

// .list {
//   display: none;
// }

.list {
  @include utilities.flex(center, center, column);
  padding-top: 1.5rem;
}

table {
  table-layout: fixed;
}

th {
  text-align: left;
}

// thead
// th
// tr
// td
