@use "./utilities";

.title {
  font-size: 1.3rem;
  font-weight: 700;
}

.main-title {
  margin-bottom: 1rem;
}

.category-title {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

.item-name {
  text-transform: capitalize;
}

label {
  font-weight: 600;
}

.col-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.search-results {
  margin: 0.5rem;
}
