@use "./utilities";

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.category-title {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
}

.item-name {
  text-transform: capitalize;
}

label {
  font-weight: 600;
}
