@use "./utilities";

.title {
  font-size: 1.3rem;
  font-weight: 700;
}

.category-title {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.item-name {
  text-transform: capitalize;
}

label {
  font-weight: 600;
}
