@use "./utilities";
@use "navbar";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: utilities.$quicksand;
  background-color: utilities.$lgreen;
}

.container {
  background-color: utilities.$white;
  @include utilities.flex(center, center, column);
}

.overlay.active {
  background-color: utilities.$black;
  opacity: 70%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 5;
}

.main-container {
}

.add-container {
}
