@use "./utilities";
@use "navbar";
@use "containers";
@use "inventory";
@use "list";
@use "buttons";
@use "text";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: utilities.$quicksand;
  @include utilities.theme(
    utilities.$green,
    //Nav and button color
    utilities.$lgreen,
    //nav highlight
    utilities.$vlgreen,
    //Background color
    utilities.$black //text color
  );
}

body.blue {
  font-size: 15px;
  font-family: utilities.$quicksand;
  @include utilities.theme(
    utilities.$blue,
    utilities.$lblue,
    utilities.$pblue,
    utilities.$black
  );
}

body.salmon {
  font-size: 15px;
  font-family: utilities.$quicksand;
  @include utilities.theme(
    utilities.$dpink,
    utilities.$salmon,
    utilities.$lpink,
    utilities.$black
  );
}

body.grey {
  font-size: 15px;
  font-family: utilities.$quicksand;
  @include utilities.theme(
    utilities.$dgrey,
    utilities.$dgrey,
    utilities.$lgrey,
    utilities.$black
  );
}

.hidden {
  display: none;
}

.overlay.active {
  background-color: utilities.$black;
  opacity: 70%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 5;
}

.overlay-edit.active {
  background-color: utilities.$black;
  opacity: 70%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 5;
}

.add-container-close,
.list-add-container-close,
.edit-close,
.close-btn {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 10;
  path {
    fill: utilities.$green;
  }
}

.list-edit-close {
  path {
    fill: utilities.$green;
  }
}

.inputs-login {
  margin: 1rem;
  input {
    width: 100%;
  }
}

.green {
  background-color: utilities.$green;
}
.blue {
  background-color: utilities.$blue;
}
.salmon {
  background-color: utilities.$salmon;
}
.grey {
  background-color: utilities.$dgrey;
}

.search {
  @include utilities.flex(center, center, column);
  padding-top: 10%;
}

@media (min-width: 900px) {
  .search {
    padding-top: 5%;
  }
}
