.navbar {
  background: linear-gradient(#a3e296, #57ad45, #a3e296);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  padding: 0.5rem;
}
.logo-container a {
  text-align: center;
}

.logo-text {
  text-decoration: none;
  color: #fcfcfc;
  font-size: 1.5rem;
  font-family: "Caveat", cursive;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
  padding: 0.5rem;
}

.nav-icon {
  border: none;
  background-color: transparent;
}

.nav-icon-img {
  width: 1.5rem;
}
.nav-icon-img fill {
  color: #fcfcfc;
  background-color: #fcfcfc;
}

.hamburger {
  display: flex;
  margin-right: 0.5rem;
}

.hamburger.active {
  display: none;
}

.close {
  display: none;
}

.close.active {
  display: flex;
  z-index: 11;
  width: 0.75rem;
  margin: 0.5rem;
}

.navlist-container {
  display: none;
}

.navlist-container.active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  background-color: #fcfcfc;
  height: 100vh;
  padding: 0 1rem;
  z-index: 10;
}

.navlink {
  text-decoration: none;
  color: #000000;
}

.navitem {
  list-style: none;
  padding: 0.5rem 0;
}

@media (min-width: 900px) {
  .navbar {
    align-items: center;
  }

  .navlist-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }

  .navlist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .navlink {
    color: #fcfcfc;
    font-weight: 500;
    position: relative;
    display: inline-block;
  }
  .navlink:after {
    bottom: -1.3rem;
    content: "";
    height: 0.25rem;
    left: 50%;
    position: absolute;
    background-color: #fcfcfc;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0%;
  }

  .navlink:hover:after {
    width: 100%;
    left: 0%;
  }

  .hamburger,
.nav-icon-container {
    display: none;
  }
}
.container {
  background-color: #fcfcfc;
  border-radius: 1rem;
  padding: 1rem;
}

.search-container {
  display: none;
}

.search-container.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 80vh;
}

.scroll-container {
  overflow-y: scroll;
  width: 100%;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
}

.inventory-scroll {
  min-height: 70%;
}

.add-container {
  display: none;
  position: absolute;
  width: 80%;
  top: 15%;
}

.add-container.active {
  display: flex;
  z-index: 10;
}

.form-container,
.update-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  margin-top: 0.5rem;
}

.inv-item-cont,
.li-item-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.inputs {
  width: 30%;
  margin: 0 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputs input,
.inputs select {
  max-width: 100%;
}

.amt-input {
  width: 15%;
}

.unit-input {
  width: 15%;
}

.btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.list-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.category-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.item-info-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.item-amount-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inventory-edit,
.list-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 80%;
  top: 20%;
  z-index: 10;
  border: inset 0.1rem transparent;
}

.inventory-edit.closed,
.list-edit.closed {
  display: none;
}

.search-item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  min-height: 25vh;
  max-height: 75vh;
}

.total-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 2.5rem;
}

.login.hidden {
  display: none;
}

.signup {
  display: none;
}

.signup.active {
  display: block;
}

@media (max-width: 370px) {
  .add-container {
    width: 90%;
  }

  .inventory-edit,
.list-edit {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .inv-item-cont {
    width: 90%;
  }

  .inv-items-cont,
.li-items-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login-container {
    width: 60%;
  }
}
@media (min-width: 900px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 80vh;
  }

  .search-container.active {
    position: absolute;
    top: 0;
    right: 5%;
    margin-top: 7.5%;
    background-color: #fcfcfc;
    border: solid 0.25rem #57ad45;
    border-radius: 1rem;
    padding: 1rem;
    z-index: 3;
  }

  .scroll-container {
    overflow-y: auto;
  }

  .add-container {
    width: 50%;
  }

  .inventory-edit,
list-edit {
    width: 50%;
  }

  .search-item-container {
    width: 60%;
  }

  .inputs {
    margin: 0 0.75rem;
  }

  .login-container {
    width: 45%;
  }
}
@media (min-width: 1300px) {
  .search-container.active {
    margin-top: 5%;
  }
}
.inventory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

.inventory.inactive {
  display: none;
}

@media (min-width: 768px) {
  .inventory {
    padding-top: 5%;
  }
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 90%;
}

thead th:nth-child(1) {
  width: 15%;
  text-align: left;
}

thead th:nth-child(2) {
  width: 15%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 10%;
}

th {
  text-align: center;
}

td:nth-child(1) {
  text-align: left;
}

td:nth-child(4) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

td {
  text-align: center;
}
td input {
  max-width: 80%;
}
td button {
  margin: 0;
}
td svg {
  width: 50%;
}

@media (min-width: 768px) {
  .list {
    padding-top: 5%;
  }
}
.btn {
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: 600;
  margin: 1rem 0.5rem;
}

.btn-sm {
  min-width: 30%;
}

.btn-md {
  min-width: 40%;
}

.btn-lg {
  min-width: 50%;
}

.guest-login {
  border: none;
  width: 100%;
  background-color: transparent;
  text-decoration: underline;
  text-align: center;
  color: blue;
  cursor: pointer;
}

.search-btn {
  background-color: transparent;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-size: 0.95rem;
}

.delete-btn {
  background-color: transparent;
  border: none;
  width: 100%;
  margin-left: 0.3rem;
}
.delete-btn img {
  transform: scale(1.2);
}

.update-btn {
  background-color: transparent;
  border: none;
  width: 1.5rem;
  margin: 0 0.3rem;
}
.update-btn img {
  transform: scale(0.6);
}

.close-btn {
  background-color: transparent;
  height: 1.5rem;
  width: 1.5rem;
  border: none;
}

.bg-change {
  padding: 0.5rem;
}

.title {
  font-size: 1.3rem;
  font-weight: 700;
}

.main-title {
  margin-bottom: 1rem;
}

.category-title {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

.item-name {
  text-transform: capitalize;
}

label {
  font-weight: 600;
}

.col-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.search-results {
  margin: 0.5rem;
  text-transform: capitalize;
}

.logo-login {
  font-size: 1.1rem;
  font-family: "Caveat", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  background-color: #dfebdc;
  color: #000000;
}
body .btn-fill {
  background-color: #57ad45;
  color: white;
}
body .btn-nofill {
  background-color: transparent;
  border: solid #57ad45 0.2rem;
  color: #57ad45;
}

body.blue {
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  background-color: #e1ecf6;
  color: #000000;
}
body.blue .btn-fill {
  background-color: #6a8bad;
  color: white;
}
body.blue .btn-nofill {
  background-color: transparent;
  border: solid #6a8bad 0.2rem;
  color: #6a8bad;
}

body.salmon {
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  background-color: #f6dbd9;
  color: #000000;
}
body.salmon .btn-fill {
  background-color: #ad6661;
  color: white;
}
body.salmon .btn-nofill {
  background-color: transparent;
  border: solid #ad6661 0.2rem;
  color: #ad6661;
}

body.grey {
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  background-color: #b9bfc4;
  color: #000000;
}
body.grey .btn-fill {
  background-color: #62656b;
  color: white;
}
body.grey .btn-nofill {
  background-color: transparent;
  border: solid #62656b 0.2rem;
  color: #62656b;
}

.hidden {
  display: none;
}

.overlay.active {
  background-color: #000000;
  opacity: 70%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 5;
}

.overlay-edit.active {
  background-color: #000000;
  opacity: 70%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 5;
}

.add-container-close,
.list-add-container-close,
.edit-close,
.close-btn {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 10;
}
.add-container-close path,
.list-add-container-close path,
.edit-close path,
.close-btn path {
  fill: #57ad45;
}

.list-edit-close path {
  fill: #57ad45;
}

.inputs-login {
  margin: 1rem;
}
.inputs-login input {
  width: 100%;
}

.green {
  background-color: #57ad45;
}

.blue {
  background-color: #6a8bad;
}

.salmon {
  background-color: #faaaa4;
}

.grey {
  background-color: #62656b;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

@media (min-width: 900px) {
  .search {
    padding-top: 5%;
  }
}

/*# sourceMappingURL=style.css.map */
